.start-col {
  background-color: aqua;
}

.other-color {
  background-color: aquamarine;
}

.card_p_text {
  color: red;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: blue;
}

img {
  width: 100%;
}

button {
  width: 80%;
  height: 5rem;
  place-self: center center;
}
